.albumCompCon {
    position: relative;
    width   : 100%;
    height  : 100%;

    .bg {
        width     : 100%;
        height    : 100%;
        background: #fff;
        padding   : 8%;
        box-shadow: 5px 5px 10px rgb(187, 129, 19);

        .img {
            width          : 100%;
            height         : 100%;
            background     : center center no-repeat;
            background-size: cover;
            transition     : all 1s ease-in-out;
        }

        .bg1 {
            width    : 100%;
            height   : 100%;
            transform: rotate(45deg);
            overflow : hidden;

            .img {
                transform: rotate(-45deg);
            }
        }
    }

    .bord {
        position       : absolute;
        width          : 100%;
        height         : 100%;
        top            : 0;
        background     : url(../../images/album-bg.png) center center no-repeat;
        background-size: cover;
    }

    .bordTch {
        position       : absolute;
        width          : 100%;
        height         : 100%;
        top            : 0;
        background     : url(../../images/album-bg2.png) center center no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 500px) {}