@import '../../common/constant.less';

.middleCon {
    border: solid rgba(0, 0, 0, 0) 1px;
    position: relative;
    height: calc(100vh - 4rem);

    .route {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

footer {
    a {
        width: 3rem;
        height: 3rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .5;
    }

    .left {
        float: left;
        background-image: url(@bg-left);
    }

    .right {
        float: right;
        background-image: url(@bg-right);
    }
}